section.index-about-section.radius-top
	.container
		.row
			.col-12
				h1.title-section-h1 Мы знаем, что Вам нужно!
				p.text-section.
					Каждый мечтает о незабываемом отдыхе, но это может стать трудной задечей,  особенно, не имея хорошего турагента. <strong>Froggy Tours</strong> тщательно подбирает лучшие предложения именно для вас, чтоб вы получили максимум удовольствия и положительных эмоций от путешествий.

	include advantages