.advantages
	.container
		.row
			.col-md-3.text-center
				i.material-icons map
				p.description Большой выбор<br>маршрутов
			.col-md-3.text-center
				i.material-icons search
				p.description Помощь<br>в подборе тура
			.col-md-3.text-center
				i.material-icons headset_mic
				p.description Поддержка<br>в режиме онлайн
			.col-md-3.text-center
				i.material-icons security
				p.description Гарантия<br>безопасности
