section.index-blog
	.container
		.row
			.col-12
				h4.title-section-h1 Интересные статьи
				.title-description
					span это нужно знать каждому туристу
		.row.blog-preview-wrapper
			.col-md-3.col-sm-6
				a(href="#")
					.blog-item-preview
						.post-poster
							img(src="/images/blog/1.jpg", alt="")
						.post-info
							.title Это важно знать для безопасного отдыха...
							.description Lorem ipsum dolor lorem ipsum dolor ipsum dolor
			.col-md-3.col-sm-6
				a(href="#")
					.blog-item-preview
						.post-poster
							img(src="/images/blog/2.jpg", alt="")
						.post-info
							.title Это важно знать для безопасного отдыха...
							.description Lorem ipsum dolor lorem ipsum dolor ipsum dolor
			.col-md-3.col-sm-6
				a(href="#")
					.blog-item-preview
						.post-poster
							img(src="/images/blog/3.jpg", alt="")
						.post-info
							.title Это важно знать для безопасного отдыха...
							.description Lorem ipsum dolor lorem ipsum dolor ipsum dolor
			.col-md-3.col-sm-6
				a(href="#")
					.blog-item-preview
						.post-poster
							img(src="/images/blog/4.jpg", alt="")
						.post-info
							.title Это важно знать для безопасного отдыха...
							.description Lorem ipsum dolor lorem ipsum dolor ipsum dolor
		.row
			.col-12.text-center
				a.btn.btn-second(href="#") Все публикации