section.second.popular.white
	.mask
	.container
		.row
			.col-12
				h2.title-section-h1 Cамые популярные туры
				.title-description
					span лучшие направления для незабываемого отдыха
		.row
			.col-4
				.item-tour-case
					img(src="/images/tours/paris.jpg", alt="paris")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Тур по Парижу
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/paris.jpg", alt="paris")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Тур по Парижу
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/paris.jpg", alt="paris")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Тур по Парижу
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/paris.jpg", alt="paris")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Тур по Парижу
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/paris.jpg", alt="paris")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Тур по Парижу
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/paris.jpg", alt="paris")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Тур по Парижу
						a(href="#").btn.btn-default.mini Забронировать
