section.second.popular.white
	.mask
	.container
		.row
			.col-12
				h2.title-section-h1 Cамые популярные туры
				.title-description
					span лучшие направления для незабываемого отдыха
		.row
			//- .col-4
			//- 	.item-tour-case
			//- 		img(src="/images/tours/paris.jpg", alt="Париж")
			//- 		.info
			//- 			.date 4 дня, 3 ночи от 400$
			//- 			.name Тур по Парижу
			//- 			a(href="#").btn.btn-default.mini Забронировать
			//- .col-4
			//- 	.item-tour-case
			//- 		img(src="/images/tours/rome.jpg", alt="Рим")
			//- 		.info
			//- 			.date 6 дней, 5 ночей от 700$
			//- 			.name Прогулки по Риму
			//- 			a(href="#").btn.btn-default.mini Забронировать
			//- .col-4
			//- 	.item-tour-case
			//- 		img(src="/images/tours/vena.jpg", alt="Вена")
			//- 		.info
			//- 			.date 4 дня, 3 ночи от 700$
			//- 			.name Вечера в Вене
			//- 			a(href="#").btn.btn-default.mini Забронировать
			//- .col-4
			//- 	.item-tour-case
			//- 		img(src="/images/tours/kair.jpg", alt="Каир")
			//- 		.info
			//- 			.date 8 дней, 7 ночей от 700$
			//- 			.name Загадочный Каир
			//- 			a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/sharm_al_sheih.jpg", alt="Шарм-эль-Шейх")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Релакс в Шарм-эль-Шейх
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/tenerife.jpg", alt="Тенерифе")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Сказочный Тенерифе
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/kioto.jpg", alt="Киото")
					.info
						.date 4 дня, 3 ночи от 400$
						.name Гармония в Киото
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/bora_bora.jpg", alt="Бора-Бора")
					.info
						.date 4 дня, 3 ночи от 2000$
						.name Лагуна Бора-Бора
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/new_york.jpg", alt="Нью-Йорк")
					.info
						.date 4 дня, 3 ночи от 2000$
						.name Небоскребы Нью-Йорка
						a(href="#").btn.btn-default.mini Забронировать
			.col-4
				.item-tour-case
					img(src="/images/tours/barcelona.jpg", alt="Барселона")
					.info
						.date 4 дня, 3 ночи от 2000$
						.name Архетектура Барселоны
						a(href="#").btn.btn-default.mini Забронировать
