section.quick-subscribe.white
	.container
		.row
			.col-12
				.title-section-h1 Подписывайтесь
					span на нашу рассылку
				.title-description
					span будьте в курсе лучших предложений,
						span последних новостей и новых маршрутов
		.row.justify-content-center
			.col-12.col-md-8
				form(action="")
					.input-group
						input.form-control(type="text", name="email", placeholder="E-mail")
						button.btn.btn-default Подписаться