section.contacts-page
	.container
		.row
			.col-12
				nav.breadcrumb.justify-content-center
					a.breadcrumb-item(href="/") Главная
					span.breadcrumb-item.active Контакты
		.row
			.col-12
				h1.title-section-h1 Контакты
				//- .title-description
				//- 	span это нужно знать каждому туристу
		.row
			.col-6
	