/* Header */
header {
	height: 85px;
	background: $white;
    border-bottom: 1px solid rgba(0,0,0,.08);
    @include box-shadow(0px -3px 4px 0px rgba(0,0,0,.8));

	@media (max-width: 1380px) {
		height: 70px;
	}

    * {
    	outline: none !important;
    }

    nav {
    	max-height: 100%;
    }

    .navbar {
    	padding: 0px;
    }

    .navbar-brand {
		max-height: 100%;
		padding-bottom: 11px;

		@media (max-width: 1380px) {
			padding-bottom: 8px;
		}

		img {
			max-height: 100%;
		}
    }

    .nav-menu {
    	width: calc(100% - 300px);
	    height: 85px;

        @media (max-width: 1380px) {
			height: 85px;
		}

    	.item {
    		display: inline-block;
    		text-decoration: none;
			font-size: 12px;
			letter-spacing: 0.5px;
    		outline: none;
    		color: rgb(17,17,17);
    		margin: 0;
    		padding: 0px 16px;
    		height: calc(100% + 1px);
    		margin-bottom: -1px;

    		&.line {
    			border-left: 1px solid #e8e8e8;
    			background-color: rgba(245, 245, 245, 0.35);
    		}

    		&.other {
    			cursor: pointer;
    			
    			i {
    				color: #257990;
    			}
    		}

    		&:hover {
    			background-color: darken($blue_, 0%);
				color: $white;

    			i {
    				color: $white;
    			}
    		}

    		i {
				width: 100%;
				display: block;
				text-align: center;
				margin-bottom: 5px;
				font-size: 26px;
				color: hsl(0, 0%, 53.3%);
    		}

    		span {
				display: block;
				clear: both;
				width: 100%;
    		}

			&.tour-icon {
				&::before {
					content: "";
					display: inline-block;
					background: url(../images/icons/menu_sprite.png) no-repeat left -1px;
					width: 22px;
					height: 19px;
					position: relative;
					top: 3px;
					margin-right: 6px;
				}
				&:hover{
					color: #62b600;
				}
			}

			&.fire-icon {
				&::before {
					content: "";
					display: inline-block;
					background: url(../images/icons/menu_sprite.png) no-repeat left -22px;
					width: 14px;
					height: 20px;
					position: relative;
					top: 3px;
					margin-right: 6px;
				}
				&:hover{
					color: #fa5457;
				}
			}

			&.calendar-icon {
				&::before {
					content: "";
					display: inline-block;
					background: url(../images/icons/menu_sprite.png) no-repeat left -44px;
					width: 21px;
					height: 19px;
					position: relative;
					top: 3px;
					margin-right: 6px;
				}
				&:hover{
					color: $red_;
				}
			}
    	}
    }

    .navbar-toggler {
    	width: 74px;
	    height: 85px;
    	margin-bottom: -1px;
    	@include border-radius(0px);
		font-size: 11px;
		line-height: 0;
		padding: 0px;
		color: rgb(17,17,17);
		outline: none !important;
		box-shadow: none !important;
	    padding-bottom: 10px;
        border-right: 1px solid #e8e8e8;

        @media (max-width: 1380px) {
			height: 70px;
		}
		
		.material-icons {
			display: block;
			font-size: 42px;
			margin-bottom: 3px;
			color: rgba(17,17,17,0.4);
		}

		&:hover {

			.material-icons {
				color: $white;
			}
			
			background-color: darken($blue_, 0%);
			color: $white;
			// background-color: rgb(245,245,245);
		}
    }

    .phone-line {
    	position: relative;
    	border-left: 1px solid #e8e8e8;
    	height: 100%;
    	padding: 0 30px;
    	
    	.material-icons {
		    font-size: 30px;
		    margin: 0px 16px 0px 0px;
		    color: $blue_;
		    opacity: 0.8;
		    cursor: default;
			position: relative;
			top: 3px;
		    
			&.dropdownIcon {
				font-size: 24px;
				margin-left:5px;
				margin-right: 0px;
			    color:  hsl(0, 0%, 53.3%);
		    	cursor: pointer;
			}
    	}

    	a {
    		color: rgba(63,63,63,0.75);
    		text-decoration: none;
    		outline: none;
    		font-weight: 500;
		    font-size: 18px;

    		&:hover {
    			text-decoration: none;
    			color: rgba(63,63,63,0.95);
    		}
    	}
    }
}