/* Index page - about section */
.index-about-section {
	padding-bottom: 120px;

	.text-section {
		max-width: 620px;
		text-align: center;
		font-weight: normal;
		color: rgba(17,17,17,0.64);

		strong {
			font-weight: 700;
			// color: $green_;
		}
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0px;
		right: 0px;
		background: url(../images/decor/lapi.png) no-repeat center top;
		width: 132px;
		height: 280px;
	}
}