/* Index page - advantages */
.advantages {
	padding-top: 64px;
	
	.material-icons {
		font-size: 72px;
		display: block;
		color: $blue_;
		opacity: 0.7;
		margin-bottom: 16px;
	}

	.description {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		color: rgba(0, 0, 0, 0.7);
		font-family: $comforta;
	}
}