/* Index page - advantages */
.advantages {
	padding-top: 80px;
	
	.material-icons {
		font-size: 72px;
		display: block;
		color: #bad996;
		margin-bottom: 16px;
	}

	.description {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		color: rgba(0, 0, 0, 0.54);
	}
}