/* Subscribe */
.quick-subscribe {
	background: url(/images/bg/subscribe.jpg) no-repeat right;
	background-size: cover;
	position: relative;

	.title-section-h1 {
		margin-top: 0px;

		@media (max-width: 1100px) {
		    margin-bottom: 24px;
		}
	}
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.32);
		z-index:0;
	}

	* {
		position: relative;
		z-index: 1;
	}

	form {
		margin-top: 32px;
	}
}