/* Banners */
.carousel-control-prev,
.carousel-control-next {
	max-width: 100px;
	opacity: 0.7;

	&:hover {
		opacity: 0.9;
	}
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 48px;
	height: 48px;
	background-image: url(../images/icons/slide_arrow.png);
	background-repeat: no-repeat;
	background-size: auto;
}
.carousel-control-prev-icon{
	background-position: left;
}
.carousel-control-next-icon {
	background-position: right;
}
.carousel {
	
	.carousel-inner {
		max-height: 900px;

		@media (max-width: 1380px) {
			max-height: 590px;
		}
		
		.carousel-item {
			height: 900px;
			background: gray;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			overflow: hidden;

			@media (max-width: 1380px) {
				max-height: 590px;
			}
			
			img {
				max-height: 100%;
			    margin: 0 auto;
			}

			video {
				min-width: 100%;
				max-width: 100%;
			}

		}
		
		.mask {
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
			
			&::after {
				content: "";
				background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.01) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#03000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
			}
		}

		.container {
			position: absolute;
			top: 0;
			bottom: 0px;
			left: -50%;
			right: -50%;
		}
		
		.img-description {
		    height: 100%;

			.title-slide {
				font-family: $comforta;
				width: 100%;
				font-size: 42px;
				line-height: 42px;
				letter-spacing: .5px;
				color: $white;
				font-weight: bold;
				margin-bottom: 4px;
				text-align: center;
				text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
			}

			.description-slide {
				width: 100%;
				font-size: 19px;
				letter-spacing: .5px;
				color: $white;
				text-align: center;
				margin-bottom: 16px;
			}

			.btn-salate {
				box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4) !important;
				text-shadow: 0px 0px 10px rgb(51, 138, 161);
			}
		}
	}
}