|<!DOCTYPE html>
html(lang='ru')
	include include/common/head
	body.hm
		include include/common/header
		include include/common/menu
		include include/common/fixed-nav
		include include/sections/contacts/top
		include include/sections/index/blog
		include include/sections/index/subscribe
		include include/elements/feedback
		include include/common/footer
