|<!DOCTYPE html>
html(lang='ru')
	include include/common/head
	body.hm
		include include/common/header
		include include/common/menu
		include include/common/fixed-nav
		include include/elements/banner
		include include/sections/index/about
		include include/sections/index/popular
		include include/sections/index/blog
		include include/sections/index/subscribe
		include include/common/footer
