html(lang='ru')
	include include/common/head
	body
		include include/common/header
		include include/elements/banner
		include include/sections/index/about
		.bg-section
			.img-holder(data-image="/images/bg/index_sea.jpg", data-image-mobile="", data-width="1312")
				img(src="/images/bg/index_sea.jpg", alt="")
		include include/sections/index/about
		include include/common/footer
