#carouselExampleIndicators.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li.active(data-target="#carouselExampleIndicators", data-slide-to="0")
		li(data-target="#carouselExampleIndicators", data-slide-to="1")
		li(data-target="#carouselExampleIndicators", data-slide-to="2")

	.carousel-inner(role="listbox")
		.carousel-item.active(style="background-image: url(\"/images/slider/1.jpg\");")
			//- img.d-block(src="/images/slider/1.jpg", alt="First slide")
			//- video(src="/video/Cliff - 1911(1280).mp4", autoplay, control="false", loop)
			//- video(src="/video/Beach - 1253.mp4", autoplay, control="false", loop)
			video(src="/video/swimming.mp4", autoplay, control="false", loop)
			.mask
			.container
				.img-description.d-flex.align-items-center.justify-content-center.flex-wrap.align-content-center
					.title-slide САМОЕ ВРЕМЯ ОТДОХНУТЬ!
					.description-slide(style="text-shadow:0px 0px 25px rgba(0, 0, 0, .5);") Здесь планируется короткое описание блока дзынь дзыдзынь
					a(href="#").btn.btn-salate ПОДБЕРИТЕ МНЕ ТУР!
		//- .carousel-item
		//- 	img.d-block.img-fluid(src="/images/slider/1.jpg", alt="..slide")
		//- .carousel-item
		//- 	img.d-block.img-fluid(src="/images/slider/1.jpg", alt="..slide")

	a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
		span.carousel-control-prev-icon(aria-hidden="true")
	a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
		span.carousel-control-next-icon(aria-hidden="true")