#carouselExampleIndicators.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li.active(data-target="#carouselExampleIndicators", data-slide-to="0")
		li(data-target="#carouselExampleIndicators", data-slide-to="1")
		li(data-target="#carouselExampleIndicators", data-slide-to="2")

	.carousel-inner(role="listbox")
		.carousel-item.active(style="background-image: url(\"/images/slider/10.jpg\");")
			//- video(src="/video/swimming.mp4", autoplay, control="false", loop)
			.mask
			.container
				.img-description.d-flex.align-items-center.justify-content-end.flex-wrap.align-content-center
					.title-slide <span class="">САМОЕ ВРЕМЯ<br>...ОТДОХНУТЬ!</span>
					.description-slide(style="text-shadow: 0px 4px 128px rgba(0, 50, 100, 0.32);") горящие путевки, раннее бронирование,<br>множество дополнительных услуг<br>и предложений от <strong>Froggy</strong>...
					a(href="#").btn.btn-orange ПОДБЕРИТЕ МНЕ ТУР!
		//- .carousel-item(style="background-image: url(\"/images/slider/5.jpg\");")
		//- .carousel-item
		//- 	img.d-block.img-fluid(src="/images/slider/1.jpg", alt="..slide")

	a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
		span.carousel-control-prev-icon(aria-hidden="true")
	a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
		span.carousel-control-next-icon(aria-hidden="true")