aside.fixed-nav
	ul
		li(title="Меню", onclick="_mt_()")
			a
				i.material-icons menu
		li(title="Помощь агента")
			a
				i.material-icons headset_mic
		li(title="Контакты")
			a(href="#")
				i.material-icons perm_phone_msg