footer
	.container
		.row
			.col-md-9.col-12
				.row
					.col-md-3.col-sm-6
						nav
							p.title Туры
							ul
								li
									a(href="#") Экскурсионные туры
								li
									a(href="#") Гастро туры
								li
									a(href="#") Туры по Европе
								li
									a(href="#") Туры по Украине
								li
									a(href="#") Туры по США
					.col-md-3.col-sm-6
						nav
							p.title Услуги
							ul
								li
									a(href="#") Для копрораций
								li
									a(href="#") День рождения
								li
									a(href="#") Организация свадьбы
								li
									a(href="#") Предложение любимой
								li
									a(href="#") Фото и видео съемка
					.col-md-3.col-sm-6
						nav
							p.title Сервисы
							ul
								li
									a(href="#") Авиа билеты
								li
									a(href="#") Автобусные билеты
								li
									a(href="#") Подготовка документов
					.col-md-3.col-sm-6
						nav
							p.title Разделы
							ul
								li
									a(href="#") О нас
								li
									a(href="#") Блог
								li
									a(href="#") Сотрудничество
								li
									a(href="#") Контакты
			.col-md-3.col-12
				.row
					.col-md-12
						.p-20
							.title.opacity Наши контакты
							ul
								li
									a(href="tel:#").contacts
										i.fas.fa-phone-square
										|+380 (97) 514 - 35 - 15
								li
									a(href="tel:#").contacts
										i.fas.fa-phone-square
										|+380 (97) 514 - 35 - 15
								li
									a(href="mailto:#").contacts
										i.fas.fa-envelope-square
										|support@froggy.tours
							
							ul.social-share
								li
									a(href="#", title="Facebook Like").btn.btn-default.mini.facebook
										i.far.fa-thumbs-up
										|Like
								li
									a(href="#", title="Follow twitter").btn.btn-default.mini.twitter
										i.fab.fa-twitter
										|Твитнуть
							// span.small Сайт разработан в&nbsp;
							// 	a(href="#", target="_blank") Lauer agency
					.col-md-12.tablet
						ul.social
							li
								a(href="#", title="Facebook").facebook
									i.icon.icon-facebook2
							li
								a(href="#", title="Instagram").instagram
									i.icon.icon-instagram
							li
								a(href="#", title="Google+").google
									i.icon.icon-google-plus2
						ul
							li
								a(href="#") Термины и условия
							li
								a(href="#") Пользовательское соглашение

	.container-fluid.footer-second-bg
		.row
			.col-12
				.row
					.container
						.row
							.col-md-4.tablet-hide
								ul
									li
										a(href="#") Термины и условия
									li
										a(href="#") Пользовательское соглашение
							.col-md-4.text-center.tablet-hide
								ul.social
									li
										a(href="#", title="Facebook").facebook
											i.icon.icon-facebook2
									li
										a(href="#", title="Instagram").instagram
											i.icon.icon-instagram
									li
										a(href="#", title="Google+").google
											i.icon.icon-google-plus2
							.col-md-4.text-right
								|Froggy.tours 2018 © Все права защищены