header
	nav.navbar.navbar-fixed-top
		a.navbar-brand(href="#")
			img(src="/images/logo.png", alt="Froggy Tour")

		.nav-menu.d-flex.flex-nowrap.justify-content-end.align-items-center
			a.item.tour-icon(href="#") Поиск тура
			a.item.fire-icon(href="#") Горящие туры
			a.item.calendar-icon(href="#") Раннее бронирование
			.phone-line.d-flex.align-items-center
				a(href="tel:", target="_blank") +380(97) 514-35-15
			button.navbar-toggler(type="button", data-toggle="collapse", data-target="#exCollapsingNavbar") &#9776;
