header
	nav.navbar.navbar-fixed-top
		button.navbar-toggler(type="button", onclick="_mt_()")
			//- For modern browsers.
			<i class="material-icons">menu</i>
			|меню
		a.navbar-brand(href="#")
			img(src="/images/logo.png", alt="Froggy Tour")

		.nav-menu.d-flex.flex-nowrap.justify-content-end.align-items-center
			a.item(href="#").d-flex.align-items-center
				span
					i.icon.icon-fire
					|горящие туры
			a.item(href="#").d-flex.align-items-center
				span
					i.icon.icon-calendar
					|ранняя бронь
			a.item(href="#").d-flex.align-items-center
				span
					i.material-icons perm_phone_msg
					|контакты
			a.item.other.line.d-flex.align-items-center
				span
					i.material-icons headset_mic
					|помощь агента
