header
	nav.navbar.navbar-fixed-top
		button.navbar-toggler(type="button", onclick="_mt_()")
			//- For modern browsers.
			<i class="material-icons">menu</i>
			|меню
		a.navbar-brand(href="#")
			img(src="/images/logo.png", alt="Froggy Tour")

		.nav-menu.d-flex.flex-nowrap.justify-content-end.align-items-center
			a.item.mobile-hide(href="#", title="горящие туры").d-flex.align-items-center
				span
					i.icon.icon-fire
					span.text горящие туры
			a.item.mobile-hide(href="#", title="ранняя бронь").d-flex.align-items-center
				span
					i.icon.icon-calendar
					span.text ранняя бронь
			a.item(href="/contacts.html", title="контакты").d-flex.align-items-center
				span
					i.material-icons perm_phone_msg
					span.text контакты
			button(type="button", data-toggle="modal", data-target="#feedback", title="Помощь агента").item.other.line.d-flex.align-items-center
				span
					i.material-icons headset_mic
					span.text помощь агента
		a.navbar-brand.mobile(href="#")
			img(src="/images/logo.png", alt="Froggy Tour")
