//- .menu-mask
aside.menu
	ul
		li
			a(href="#")
				i.material-icons local_airport
				|Авиа туры
		li
			a(href="#")
				i.material-icons directions_bus
				|Автобусные туры
		li
			a(href="#")
				i.material-icons flag
				|Туры по Украине
		li
			a(href="#")
				i.fab.fa-gratipay
				|Организация праздников
		li
			a(href="#")
				i.material-icons stars
				|Корпоративы и семинары
		li
			a(href="#")
				i.far.fa-file-alt
				|Подготовка документов
		li
			a(href="#")
				i.fas.fa-plane
				|Авиа билеты
		li
			a(href="#")
				i.fas.fa-bus
				|Автобусные билеты
		li
			a(href="#")
				i.fas.fa-info-circle
				|О нас
		li
			a(href="#")
				i.material-icons library_books
				|Блог
		li
			a(href="#")
				i.far.fa-handshake
				|Сотрудничество
		li
			a(href="#")
				i.material-icons perm_phone_msg
				|Контакты